@import "tailwindcss";


@theme {
  --text-xs: 0rem; 
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem; 
  --text-lg: 1.125rem; 
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;


  --text-xs--line-height: initial;
  --text-sm--line-height: initial;
  --text-base--line-height: initial;
  --text-lg--line-height: initial;
  --text-xl--line-height: initial;
  --text-2xl--line-height: initial;
  --text-3xl--line-height: initial;
  --text-4xl--line-height: initial;
  --text-5xl--line-height: initial;
  --text-6xl--line-height: initial;
  --text-7xl--line-height: initial;
  --text-8xl--line-height: initial;
  --text-9xl--line-height: initial;


  --container-padding-DEFAULT: 1rem;
  --container-padding-sm: 1.5rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 3rem;
  --container-padding-xl: 4rem;
  --container-padding-2xl: 5rem;

  
  --color-theme1: #011422;
  --color-theme2: #04272f;
  --color-theme3: #090c37;
  --color-theme4: #064b78;
  --color-theme5: #35092d;
  --color-theme6: #0a5978;
  --color-theme7: #031720;




  
  --animate-progress-circle: progressCircle 3s 1s ease-out forwards;
  --animate-progress: progress 3s forwards;
  --animate-fixed-nav: fixedNav 0.6s;
  --animate-marquee-h: marqueeHorizontal 20s linear infinite;
  --animate-shimmer: shimmer 1.5s infinite alternate;
  --animate-fadeInDown: fadeInDown 2s linear infinite;
  --animate-marqueeInfinite: marqueeInfinite 10s linear infinite;

  @keyframes progressCircle {
    0% {
      stroke-dashoffset: 251.2;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes progress {
    0% {
      --progress: 0;
    }
    100% {
      --progress: 1;
    }
  }

  @keyframes fixedNav {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes marqueeHorizontal {
    0% {
      transform: translateZ(0);
      visibility: visible;
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes marqueeInfinite {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes fadeInDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes shimmer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
}


/* Define your custom .container class after @tailwind utilities */
.\!container, .container {
  padding-left: var(--container-padding-DEFAULT);
  padding-right: var(--container-padding-DEFAULT);

  /* Define responsive max-width */
  @media (min-width: 640px) {
    padding-left: var(--container-padding-sm);
    padding-right: var(--container-padding-sm);
  }
  @media (min-width: 768px) {
    padding-left: var(--container-padding-md);
    padding-right: var(--container-padding-md);
  }
  @media (min-width: 1024px) {
    padding-left: var(--container-padding-lg);
    padding-right: var(--container-padding-lg);
  }
  @media (min-width: 1280px) {
    padding-left: var(--container-padding-xl);
    padding-right: var(--container-padding-xl);
  }
  @media (min-width: 1536px) {
    padding-left: var(--container-padding-2xl);
    padding-right: var(--container-padding-2xl);
  }

  margin-left: auto;
  margin-right: auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

